transformers==4.35.2
accelerate
deepspeed==0.13.1 
peft==0.6.2
sentencepiece==0.1.99
loguru
webdataset
easydict
tqdm
tyro
ml_collections
pandas
jupyter
omegaconf
timm
iopath
opencv-python
matplotlib
sentencepiece
colored
coloredlogs
path
torchmetrics
diffusers
dreamsim